# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**   
* To learn some popular languages in data science
* To learn some of the popular libraries for data science
* To learn the most used version control (Gihub)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. numpy

| Data Science Tools |
| ------------------- |
| Jupyter Notebook |
| Jupyter Lab |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Muntasir Karim Chowdhury